<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>AUIDocument 5</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>AUIDocument 2</key>
		<dict>
			<key>BoolKeyValuePair</key>
			<data>
			7awbB5s89HQVBvM6gGPEcLGf+xzzxpGLBniVo0atbAc=
			</data>
			<key>Cell</key>
			<data>
			UeJWu1eWfY8zjUPFfe6LPOcWoLqG+ZYwhzxkkjCuGDA=
			</data>
			<key>CodedKeyValuePair</key>
			<data>
			PMg9ACA8wwjmj0SJzb2LDVC9aiY5AEq3u9kdrE0HYn4=
			</data>
			<key>DAQConfigContainer</key>
			<data>
			S/bP3rVILs1ddVghwr1BaLU7dxvvpfJvzTEfymmgkG0=
			</data>
			<key>DataKeyValuePair</key>
			<data>
			ETqWK2ES+zGoyoLWVqnEDd4EGcl11ti6Q5SixrPs9gU=
			</data>
			<key>DateKeyValuePair</key>
			<data>
			d1SeNx7U86pxVQCQ80/kOudHDPGC6OSFADUC6gu57xI=
			</data>
			<key>DoubleKeyValuePair</key>
			<data>
			lOD9eXgfKcjvyOtxUHGVqlee+2kSnBZj4Cilqzp7vhM=
			</data>
			<key>Epoch</key>
			<data>
			70IqVqrLe/nfMuQi2WgHwtGKFmpzGGaMJqhjAvQNUQA=
			</data>
			<key>Experiment</key>
			<data>
			2OnXS6xuU5fVtj9OSSp6UY73Tum8N76I7EhG2T7fR34=
			</data>
			<key>FileSystemResource</key>
			<data>
			wBO+NuMCJ9OqnihQB2nPbBnVAEvAsWNo6nAc0S3l+EU=
			</data>
			<key>FloatKeyValuePair</key>
			<data>
			OE4//EcdytQ5naCXwj5wkOOJeQZjZ+SWfv5YOWMwJkg=
			</data>
			<key>IOBase</key>
			<data>
			iGvvx7BoRO93bWX0nhByfy1E7qWMp4SXyAgLiy34Ksc=
			</data>
			<key>IntegerKeyValuePair</key>
			<data>
			H9Ge6MVBMWFBQa6qOzLkwKdh8tB4pan8tfRwlvaqo/c=
			</data>
			<key>KeyValuePair</key>
			<data>
			hSCEhiV7q/KQagxIMCk3kDWUTbWkZlIFl+B6nipsX/Q=
			</data>
			<key>KeywordTag</key>
			<data>
			BfPsPfzhvoUyDGMHG/4KGRRyGjDcf9YskS0T86UrkD4=
			</data>
			<key>LongIntegerKeyValuePair</key>
			<data>
			WiG7Dnx+QJfmsZyIzNggkI2V+wZ4m3j4b61Tez04yvQ=
			</data>
			<key>Note</key>
			<data>
			1rg20w1U42Pb4EXAuM2NV605pwHdhbTozQKnZDCjjcU=
			</data>
			<key>NumberKeyValuePair</key>
			<data>
			9DOpsYp/RwkQdn7hwa3h6XJlzpcIRhJP+bu7A7V4JO8=
			</data>
			<key>Resource</key>
			<data>
			CwZpiIPrQCfPJQbmQXD76CaDqfO8I8NIaQ5kTglF8Vs=
			</data>
			<key>Response</key>
			<data>
			lUHb8JvdliftUwzgAdSoZMKPxWo+EQZAEbLQcXernmE=
			</data>
			<key>ResponseData</key>
			<data>
			FlGh5HBsGv3saO7Z7NJH5zp6Ej/abol2G4xXbCxQNXY=
			</data>
			<key>Stimulus</key>
			<data>
			DrJFK8561z7n7WYkclpYdRVWAYAgzDHpseAA/+5GCMM=
			</data>
			<key>StreamKeyValuePair</key>
			<data>
			3HDZ4+HX73NMT/ETrV38KFKP8T5HNuL+YswOlOTpHuY=
			</data>
			<key>StreamValue</key>
			<data>
			qPRt/1nayxjUqdrVAZE5x6dksAktw1MZkEUbaR0O0Uk=
			</data>
			<key>StringKeyValuePair</key>
			<data>
			EhjN8oC024LF/TA6gcZqPvW8/OLvKGq5yu0XHoKaJm8=
			</data>
		</dict>
		<key>AUIDocument 3</key>
		<dict>
			<key>BoolKeyValuePair</key>
			<data>
			7awbB5s89HQVBvM6gGPEcLGf+xzzxpGLBniVo0atbAc=
			</data>
			<key>Cell</key>
			<data>
			UeJWu1eWfY8zjUPFfe6LPOcWoLqG+ZYwhzxkkjCuGDA=
			</data>
			<key>CodedKeyValuePair</key>
			<data>
			PMg9ACA8wwjmj0SJzb2LDVC9aiY5AEq3u9kdrE0HYn4=
			</data>
			<key>DAQConfigContainer</key>
			<data>
			S/bP3rVILs1ddVghwr1BaLU7dxvvpfJvzTEfymmgkG0=
			</data>
			<key>DataKeyValuePair</key>
			<data>
			ETqWK2ES+zGoyoLWVqnEDd4EGcl11ti6Q5SixrPs9gU=
			</data>
			<key>DateKeyValuePair</key>
			<data>
			d1SeNx7U86pxVQCQ80/kOudHDPGC6OSFADUC6gu57xI=
			</data>
			<key>DoubleKeyValuePair</key>
			<data>
			lOD9eXgfKcjvyOtxUHGVqlee+2kSnBZj4Cilqzp7vhM=
			</data>
			<key>Epoch</key>
			<data>
			70IqVqrLe/nfMuQi2WgHwtGKFmpzGGaMJqhjAvQNUQA=
			</data>
			<key>Experiment</key>
			<data>
			2OnXS6xuU5fVtj9OSSp6UY73Tum8N76I7EhG2T7fR34=
			</data>
			<key>FileSystemResource</key>
			<data>
			7gZ/nmITHlsi1//5GU3+TMYR2DxvsQdVhYFU35+NCSQ=
			</data>
			<key>FloatKeyValuePair</key>
			<data>
			OE4//EcdytQ5naCXwj5wkOOJeQZjZ+SWfv5YOWMwJkg=
			</data>
			<key>IOBase</key>
			<data>
			UcUJl65p5AtAbnX5QBdNR+up8+19StAETARmHgxgkHs=
			</data>
			<key>IntegerKeyValuePair</key>
			<data>
			H9Ge6MVBMWFBQa6qOzLkwKdh8tB4pan8tfRwlvaqo/c=
			</data>
			<key>KeyValuePair</key>
			<data>
			hSCEhiV7q/KQagxIMCk3kDWUTbWkZlIFl+B6nipsX/Q=
			</data>
			<key>KeywordTag</key>
			<data>
			MgnLiUuUiBydw/8F79O4xHbrQ/QXSuOc5HjDnAuehAc=
			</data>
			<key>LongIntegerKeyValuePair</key>
			<data>
			WiG7Dnx+QJfmsZyIzNggkI2V+wZ4m3j4b61Tez04yvQ=
			</data>
			<key>Note</key>
			<data>
			1rg20w1U42Pb4EXAuM2NV605pwHdhbTozQKnZDCjjcU=
			</data>
			<key>NumberKeyValuePair</key>
			<data>
			9DOpsYp/RwkQdn7hwa3h6XJlzpcIRhJP+bu7A7V4JO8=
			</data>
			<key>Resource</key>
			<data>
			nOpXqTc05l/sD1nvf4y7a0vVO94qiXyV1sbqpZccVUo=
			</data>
			<key>Response</key>
			<data>
			ZQ5ScUwaI4RL15kDR3dzgO8h2y+1TLawhm2gM6EAjs0=
			</data>
			<key>ResponseData</key>
			<data>
			FlGh5HBsGv3saO7Z7NJH5zp6Ej/abol2G4xXbCxQNXY=
			</data>
			<key>Stimulus</key>
			<data>
			NdKwW5o9njG2W5dFAG6ekV2Dx+Nw1BTBmvTKUe/jYOI=
			</data>
			<key>StreamKeyValuePair</key>
			<data>
			3HDZ4+HX73NMT/ETrV38KFKP8T5HNuL+YswOlOTpHuY=
			</data>
			<key>StreamValue</key>
			<data>
			qPRt/1nayxjUqdrVAZE5x6dksAktw1MZkEUbaR0O0Uk=
			</data>
			<key>StringKeyValuePair</key>
			<data>
			EhjN8oC024LF/TA6gcZqPvW8/OLvKGq5yu0XHoKaJm8=
			</data>
		</dict>
		<key>AUIDocument 4</key>
		<dict>
			<key>BoolKeyValuePair</key>
			<data>
			7awbB5s89HQVBvM6gGPEcLGf+xzzxpGLBniVo0atbAc=
			</data>
			<key>Cell</key>
			<data>
			UeJWu1eWfY8zjUPFfe6LPOcWoLqG+ZYwhzxkkjCuGDA=
			</data>
			<key>CodedKeyValuePair</key>
			<data>
			PMg9ACA8wwjmj0SJzb2LDVC9aiY5AEq3u9kdrE0HYn4=
			</data>
			<key>DAQConfigContainer</key>
			<data>
			S/bP3rVILs1ddVghwr1BaLU7dxvvpfJvzTEfymmgkG0=
			</data>
			<key>DataKeyValuePair</key>
			<data>
			ETqWK2ES+zGoyoLWVqnEDd4EGcl11ti6Q5SixrPs9gU=
			</data>
			<key>DateKeyValuePair</key>
			<data>
			d1SeNx7U86pxVQCQ80/kOudHDPGC6OSFADUC6gu57xI=
			</data>
			<key>DoubleKeyValuePair</key>
			<data>
			lOD9eXgfKcjvyOtxUHGVqlee+2kSnBZj4Cilqzp7vhM=
			</data>
			<key>Epoch</key>
			<data>
			70IqVqrLe/nfMuQi2WgHwtGKFmpzGGaMJqhjAvQNUQA=
			</data>
			<key>Experiment</key>
			<data>
			2OnXS6xuU5fVtj9OSSp6UY73Tum8N76I7EhG2T7fR34=
			</data>
			<key>FileSystemResource</key>
			<data>
			ZOAXfXJbfAcNugW3Hu8sqaoHe0/uwfOuI+S3McWjAcQ=
			</data>
			<key>FloatKeyValuePair</key>
			<data>
			OE4//EcdytQ5naCXwj5wkOOJeQZjZ+SWfv5YOWMwJkg=
			</data>
			<key>IOBase</key>
			<data>
			iGvvx7BoRO93bWX0nhByfy1E7qWMp4SXyAgLiy34Ksc=
			</data>
			<key>IntegerKeyValuePair</key>
			<data>
			H9Ge6MVBMWFBQa6qOzLkwKdh8tB4pan8tfRwlvaqo/c=
			</data>
			<key>KeyValuePair</key>
			<data>
			hSCEhiV7q/KQagxIMCk3kDWUTbWkZlIFl+B6nipsX/Q=
			</data>
			<key>KeywordTag</key>
			<data>
			BfPsPfzhvoUyDGMHG/4KGRRyGjDcf9YskS0T86UrkD4=
			</data>
			<key>LongIntegerKeyValuePair</key>
			<data>
			WiG7Dnx+QJfmsZyIzNggkI2V+wZ4m3j4b61Tez04yvQ=
			</data>
			<key>Note</key>
			<data>
			1rg20w1U42Pb4EXAuM2NV605pwHdhbTozQKnZDCjjcU=
			</data>
			<key>NumberKeyValuePair</key>
			<data>
			9DOpsYp/RwkQdn7hwa3h6XJlzpcIRhJP+bu7A7V4JO8=
			</data>
			<key>Resource</key>
			<data>
			nE/Qdzm47ReMv5QfCFTV8neJNs+RFkxhPkgYQFa1/BM=
			</data>
			<key>Response</key>
			<data>
			lUHb8JvdliftUwzgAdSoZMKPxWo+EQZAEbLQcXernmE=
			</data>
			<key>ResponseData</key>
			<data>
			FlGh5HBsGv3saO7Z7NJH5zp6Ej/abol2G4xXbCxQNXY=
			</data>
			<key>Stimulus</key>
			<data>
			DrJFK8561z7n7WYkclpYdRVWAYAgzDHpseAA/+5GCMM=
			</data>
			<key>StreamKeyValuePair</key>
			<data>
			3HDZ4+HX73NMT/ETrV38KFKP8T5HNuL+YswOlOTpHuY=
			</data>
			<key>StreamValue</key>
			<data>
			qPRt/1nayxjUqdrVAZE5x6dksAktw1MZkEUbaR0O0Uk=
			</data>
			<key>StringKeyValuePair</key>
			<data>
			EhjN8oC024LF/TA6gcZqPvW8/OLvKGq5yu0XHoKaJm8=
			</data>
		</dict>
		<key>AUIDocument 5</key>
		<dict>
			<key>BoolKeyValuePair</key>
			<data>
			t5FamoYOQOZEYrKRDnBCDRKyedCTT1u3g8L6ev/qxzQ=
			</data>
			<key>Cell</key>
			<data>
			Rxcvn/9hSzTPdBF2cm+nfDiVsLXD79scxrHD9d2wSVk=
			</data>
			<key>CodedKeyValuePair</key>
			<data>
			DE43GtKm7DXI3bPSxn59/oqh7ZXbKl5YJXKhLpa+8KI=
			</data>
			<key>DAQConfigContainer</key>
			<data>
			S/bP3rVILs1ddVghwr1BaLU7dxvvpfJvzTEfymmgkG0=
			</data>
			<key>DateKeyValuePair</key>
			<data>
			17ZD4kHlfEtQg+C9ECpLxgYH75zUlCprh7w2v4dglyU=
			</data>
			<key>DoubleKeyValuePair</key>
			<data>
			CUSYn7Fm2KrWMsvcV7w985F+hh5xibspH85rEwrvVO4=
			</data>
			<key>Epoch</key>
			<data>
			Th2Bbp8AC2bFd4UkfeeSUQsp1bfQGprNqc4bc2at8X4=
			</data>
			<key>Experiment</key>
			<data>
			PtF40+dtKVW9FzICc/EqBINq9/hf49OXsUlS7XcVj1I=
			</data>
			<key>FileSystemResource</key>
			<data>
			4oCGTVZr1L13IPPZ3Nv8R9LKbUIWNBPZwd5ajv94/B0=
			</data>
			<key>IOBase</key>
			<data>
			UcUJl65p5AtAbnX5QBdNR+up8+19StAETARmHgxgkHs=
			</data>
			<key>KeyValuePair</key>
			<data>
			HKBiY8I406rgY7FoTU6FGJFuDJfU7291vZoyQe2fuMI=
			</data>
			<key>KeywordTag</key>
			<data>
			s15T+RJHGYMW1cGvkGfU/QfKL0zl6rJ6TVmGKXThG1o=
			</data>
			<key>LongIntegerKeyValuePair</key>
			<data>
			J0sh5zFbQWSSM7u2CVcCTYPLQrXNsFrmAZLJhtp52vg=
			</data>
			<key>Note</key>
			<data>
			1rg20w1U42Pb4EXAuM2NV605pwHdhbTozQKnZDCjjcU=
			</data>
			<key>NumberKeyValuePair</key>
			<data>
			gtdfHQ0bET4CidjbKA45/AGJTPVWL43X5ztK+3g4va4=
			</data>
			<key>Response</key>
			<data>
			rs2Z+SO3DnbfTWIuXzN2tVWGqzxwEuU6CwMYKdiriHM=
			</data>
			<key>Stimulus</key>
			<data>
			9A5pDMxUBvLit/756I44rrc2AwEXfRO6UH7CIsp4n1w=
			</data>
			<key>StreamKeyValuePair</key>
			<data>
			cYd1aVr0Ueft5vHJEs9YwFV1tdFvgmN+t1GySbcoF80=
			</data>
			<key>StreamValue</key>
			<data>
			qPRt/1nayxjUqdrVAZE5x6dksAktw1MZkEUbaR0O0Uk=
			</data>
			<key>StringKeyValuePair</key>
			<data>
			7818z0hUnuTTzLb/Bj4HAKGHSrRZBdAwnkCMxEgRxYs=
			</data>
		</dict>
		<key>AUIDocument1</key>
		<dict>
			<key>AudioNote</key>
			<data>
			zXYFlerfhdvVJ0gtbzYCliJ10tUGuxEeTWefvOxKNpU=
			</data>
			<key>Cell</key>
			<data>
			IqKe86V9yEheeVc8zm8kNlnPHKjbHIhK5jHwobt72rI=
			</data>
			<key>DAQConfigContainer</key>
			<data>
			S/bP3rVILs1ddVghwr1BaLU7dxvvpfJvzTEfymmgkG0=
			</data>
			<key>DataResource</key>
			<data>
			xzysPJ+M375YTKE8Tvrlx8rge1hO67AV0HM+yWjNfIA=
			</data>
			<key>Epoch</key>
			<data>
			4Lurmk2BFKuVOvJaUWN4v4i3Fw7ALS4DJAavI3G37a0=
			</data>
			<key>Experiment</key>
			<data>
			iNCZXmVYQY0nBJrTYqCf4vD/Zw4rNHkUeUYvlCkZPyg=
			</data>
			<key>FileSystemResource</key>
			<data>
			7Df0jKAHAnHgNVQNTzno4ttLZ61i9tZqsSKaakwAfHw=
			</data>
			<key>IOBase</key>
			<data>
			B9V3xT3ueiG/LkxkVvfqAlC2FnBMKBbBenaMEb29R9k=
			</data>
			<key>Note</key>
			<data>
			1rg20w1U42Pb4EXAuM2NV605pwHdhbTozQKnZDCjjcU=
			</data>
			<key>Resource</key>
			<data>
			T1ntlGeODPEceZE9wFdBPL1Z48boaPJvsie8Om6Edtc=
			</data>
			<key>Response</key>
			<data>
			sSDpGd3njdky7fCCdEHtZOKuhZr2gErduIHC9ya5GSU=
			</data>
			<key>ResponseData</key>
			<data>
			FlGh5HBsGv3saO7Z7NJH5zp6Ej/abol2G4xXbCxQNXY=
			</data>
			<key>Stimulus</key>
			<data>
			Za8lmoh48W/5aDXs7pg9ZpdKzqIgv+FXra8Y2PduFUw=
			</data>
		</dict>
		<key>AUIDocument2</key>
		<dict>
			<key>Cell</key>
			<data>
			IqKe86V9yEheeVc8zm8kNlnPHKjbHIhK5jHwobt72rI=
			</data>
			<key>DAQConfigContainer</key>
			<data>
			S/bP3rVILs1ddVghwr1BaLU7dxvvpfJvzTEfymmgkG0=
			</data>
			<key>Epoch</key>
			<data>
			Y02tZTKSt4UdA9AyL/FX97FhS+juSrM6vVJeh3a65ao=
			</data>
			<key>Experiment</key>
			<data>
			iNCZXmVYQY0nBJrTYqCf4vD/Zw4rNHkUeUYvlCkZPyg=
			</data>
			<key>FileSystemResource</key>
			<data>
			7Df0jKAHAnHgNVQNTzno4ttLZ61i9tZqsSKaakwAfHw=
			</data>
			<key>IOBase</key>
			<data>
			B9V3xT3ueiG/LkxkVvfqAlC2FnBMKBbBenaMEb29R9k=
			</data>
			<key>KeyValuePair</key>
			<data>
			nyZ+xkbyaumoj/Ry+nU2oyRRoRP0CwCtxALtDbWNgHo=
			</data>
			<key>Note</key>
			<data>
			1rg20w1U42Pb4EXAuM2NV605pwHdhbTozQKnZDCjjcU=
			</data>
			<key>Resource</key>
			<data>
			T1ntlGeODPEceZE9wFdBPL1Z48boaPJvsie8Om6Edtc=
			</data>
			<key>Response</key>
			<data>
			sSDpGd3njdky7fCCdEHtZOKuhZr2gErduIHC9ya5GSU=
			</data>
			<key>ResponseData</key>
			<data>
			FlGh5HBsGv3saO7Z7NJH5zp6Ej/abol2G4xXbCxQNXY=
			</data>
			<key>Stimulus</key>
			<data>
			IuPDMI9xgx6EyqqdnYPcsEM008PyPD8z2hXnoD3eMLY=
			</data>
		</dict>
		<key>AUIDocument3</key>
		<dict>
			<key>BoolKeyValuePair</key>
			<data>
			7awbB5s89HQVBvM6gGPEcLGf+xzzxpGLBniVo0atbAc=
			</data>
			<key>Cell</key>
			<data>
			PXn3HecG//J1lHV03vQNliZZJdis5khxPNsjS645xhE=
			</data>
			<key>CodedKeyValuePair</key>
			<data>
			PMg9ACA8wwjmj0SJzb2LDVC9aiY5AEq3u9kdrE0HYn4=
			</data>
			<key>DAQConfigContainer</key>
			<data>
			S/bP3rVILs1ddVghwr1BaLU7dxvvpfJvzTEfymmgkG0=
			</data>
			<key>DataKeyValuePair</key>
			<data>
			ETqWK2ES+zGoyoLWVqnEDd4EGcl11ti6Q5SixrPs9gU=
			</data>
			<key>DateKeyValuePair</key>
			<data>
			d1SeNx7U86pxVQCQ80/kOudHDPGC6OSFADUC6gu57xI=
			</data>
			<key>DoubleKeyValuePair</key>
			<data>
			lOD9eXgfKcjvyOtxUHGVqlee+2kSnBZj4Cilqzp7vhM=
			</data>
			<key>Epoch</key>
			<data>
			G2Q7umLZ9bw6HHv2j0mOUMGx1YASMB/+PWHKgoEYvsI=
			</data>
			<key>Experiment</key>
			<data>
			cmBffXb1Y2XN4IvKy5oHQmmG3nGjQjeflVyarcvWMt0=
			</data>
			<key>FileSystemResource</key>
			<data>
			7Df0jKAHAnHgNVQNTzno4ttLZ61i9tZqsSKaakwAfHw=
			</data>
			<key>FloatKeyValuePair</key>
			<data>
			OE4//EcdytQ5naCXwj5wkOOJeQZjZ+SWfv5YOWMwJkg=
			</data>
			<key>IOBase</key>
			<data>
			YfQnLXqOWapVD4vLQTFiwJRxXiHGNESBpHxN8PcI7RI=
			</data>
			<key>IntegerKeyValuePair</key>
			<data>
			H9Ge6MVBMWFBQa6qOzLkwKdh8tB4pan8tfRwlvaqo/c=
			</data>
			<key>KeyValuePair</key>
			<data>
			hSCEhiV7q/KQagxIMCk3kDWUTbWkZlIFl+B6nipsX/Q=
			</data>
			<key>KeywordTag</key>
			<data>
			gNzDxJXHHQv2EyV6jNlxujfZDSjxRK7QdWga8fi92xI=
			</data>
			<key>LongIntegerKeyValuePair</key>
			<data>
			WiG7Dnx+QJfmsZyIzNggkI2V+wZ4m3j4b61Tez04yvQ=
			</data>
			<key>Note</key>
			<data>
			1rg20w1U42Pb4EXAuM2NV605pwHdhbTozQKnZDCjjcU=
			</data>
			<key>NumberKeyValuePair</key>
			<data>
			9DOpsYp/RwkQdn7hwa3h6XJlzpcIRhJP+bu7A7V4JO8=
			</data>
			<key>Resource</key>
			<data>
			T1ntlGeODPEceZE9wFdBPL1Z48boaPJvsie8Om6Edtc=
			</data>
			<key>Response</key>
			<data>
			6GGIUJmoUDAk6+5gJsFzvn0NbaNKZsnrT/VzcoEeq+g=
			</data>
			<key>ResponseData</key>
			<data>
			FlGh5HBsGv3saO7Z7NJH5zp6Ej/abol2G4xXbCxQNXY=
			</data>
			<key>Stimulus</key>
			<data>
			wqe9HjSuCqmyY6lGeTEZIADoILeKeJdlYHbyaPXeH58=
			</data>
			<key>StreamKeyValuePair</key>
			<data>
			3HDZ4+HX73NMT/ETrV38KFKP8T5HNuL+YswOlOTpHuY=
			</data>
			<key>StreamValue</key>
			<data>
			qPRt/1nayxjUqdrVAZE5x6dksAktw1MZkEUbaR0O0Uk=
			</data>
			<key>StringKeyValuePair</key>
			<data>
			EhjN8oC024LF/TA6gcZqPvW8/OLvKGq5yu0XHoKaJm8=
			</data>
		</dict>
	</dict>
</dict>
</plist>
