<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>VUIDocument 2</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>VUIDocument</key>
		<dict>
			<key>AbsoluteURLDataStore</key>
			<data>
			rtZhv0aQR6DLBHbMc5T948WgNZNQRD2MZEwyw+P1eB8=
			</data>
			<key>AnalysisRecord</key>
			<data>
			w9aWGx7T9lQHWIllk/c1i4RA5ybV30/wl3uDnN8d9U4=
			</data>
			<key>DataStore</key>
			<data>
			Chxo9UQCZKXqUNXHHJOtJmOtfC83J6kDuKpddyHFfe0=
			</data>
			<key>EpochSearchPredicate</key>
			<data>
			xxP1U3zPBgZ2rFdsX5IBwdg0+yjVN6UfemqLOqjz1uE=
			</data>
			<key>FileSystemResource</key>
			<data>
			krsNyB7xQzdP4pGdtJrSUfykJ40VCrvnbKn1j5WJir8=
			</data>
			<key>KeywordTag</key>
			<data>
			hXd04QNY8UAqGfhv6fDEgjW2mnZUXuIAR9CN68366fE=
			</data>
			<key>Project</key>
			<data>
			/53hHiKCXkkBpvzPM2ug/zUTE3o3wQKJq1mfIZ9QGZs=
			</data>
			<key>ProjectRelativeURLDataStore</key>
			<data>
			1aVemGsLa6++JYnreg90tBCvnsSRWu9sd3CytdFx4lw=
			</data>
			<key>Resource</key>
			<data>
			eXFrPwV05xswNYapnwV//IGkQ16ijF+goMZuP7ddsz8=
			</data>
			<key>SpotlightDataStore</key>
			<data>
			UuVOhNlsaEptq2QjPOIaaRfKx7EF3qHsgpT3VIDhqWM=
			</data>
			<key>URLDataStore</key>
			<data>
			6xdDXCeSP9QFcx5l/riqgm8kfqpjAMIcJQfYjapfczA=
			</data>
		</dict>
		<key>VUIDocument 2</key>
		<dict>
			<key>AbsoluteURLDataStore</key>
			<data>
			rtZhv0aQR6DLBHbMc5T948WgNZNQRD2MZEwyw+P1eB8=
			</data>
			<key>AnalysisRecord</key>
			<data>
			w9aWGx7T9lQHWIllk/c1i4RA5ybV30/wl3uDnN8d9U4=
			</data>
			<key>DataStore</key>
			<data>
			Chxo9UQCZKXqUNXHHJOtJmOtfC83J6kDuKpddyHFfe0=
			</data>
			<key>EpochSearchPredicate</key>
			<data>
			LL+VOTxQBO3FDQ9n+vDEUH/D2p6VNlp5amXMqw0HMak=
			</data>
			<key>FileSystemResource</key>
			<data>
			krsNyB7xQzdP4pGdtJrSUfykJ40VCrvnbKn1j5WJir8=
			</data>
			<key>KeywordTag</key>
			<data>
			hXd04QNY8UAqGfhv6fDEgjW2mnZUXuIAR9CN68366fE=
			</data>
			<key>Project</key>
			<data>
			mGwTjnOwOpU5K9wYhjHnG2c77Uh8zizVvJAuqQ5QOUs=
			</data>
			<key>ProjectRelativeURLDataStore</key>
			<data>
			1aVemGsLa6++JYnreg90tBCvnsSRWu9sd3CytdFx4lw=
			</data>
			<key>Resource</key>
			<data>
			eXFrPwV05xswNYapnwV//IGkQ16ijF+goMZuP7ddsz8=
			</data>
			<key>SpotlightDataStore</key>
			<data>
			UuVOhNlsaEptq2QjPOIaaRfKx7EF3qHsgpT3VIDhqWM=
			</data>
			<key>URLDataStore</key>
			<data>
			6xdDXCeSP9QFcx5l/riqgm8kfqpjAMIcJQfYjapfczA=
			</data>
		</dict>
		<key>VUIDocument 3</key>
		<dict>
			<key>AnalysisRecord</key>
			<data>
			duQ6o5VDT/huA3cr+ImiLwSZoSp8/m3eNs2nr9sCelc=
			</data>
			<key>EpochSearchPredicate</key>
			<data>
			LL+VOTxQBO3FDQ9n+vDEUH/D2p6VNlp5amXMqw0HMak=
			</data>
			<key>FileSystemResource</key>
			<data>
			O4AerGWYcbb/gubRZAVW5d6xKy8EdOSKk369IL3nd8Y=
			</data>
			<key>KeywordTag</key>
			<data>
			c/30TVR3Cw6mujXT4O5UTwyDBaslgbGoscTx+KCfdmE=
			</data>
			<key>Project</key>
			<data>
			nbW8mmYFN+VZI6tRskUefkIcRM4D0pIGcGFTSqNtF4M=
			</data>
			<key>SpotlightDataStoreCollection</key>
			<data>
			CftLg+B5O6mgyJGRgVjsYhFAgH/dquHiIVepwtX9vyc=
			</data>
		</dict>
	</dict>
</dict>
</plist>
